.task-container {
    margin: 10px 0;
}


.that-task-container{
    border:2px solid #c7c7c7;
    padding: 5px;
    display: flex;
    border-radius: 6px;
    align-items: center;
    margin: 10px 0;
    position: relative;
    flex: 4;
}
.that-inner-task-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.that-inner-task-container > div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#task-time-field,#task-title-field{
    text-align: start;
    border: none;
    font-size: 16px;
    padding: 4px ;
    background-color: transparent;
    outline: none;
}
#task-time-field{
    width: 50%;
}
#task-time-field-container{
    display: flex;
    flex-direction: column;
}
#task-control-container{
    display: flex;
    align-items: center;
}
#task-control-container > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0 4px;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#task-control-container > button:hover{
    background-color: #d9eaec;
}
#add-task,#remove-task {
}
svg{
    pointer-events: none;
}
#progress-bar {
    position: absolute;
    height: 100%;
    /* width: 10%; */
    left: 0;
    transition: 0.1s linear;
    top: 0;
    z-index: -1;
}
.complete-bar {
    background-color: #3ab984;
}
.incomplete-bar {
}
#task-status-container{
    width: 100%;
    flex: 1;
    margin-left: 10px;
}
#task-status-inner-container{
    background-color: #363636;
    color: #ffffff;
    padding: 4px;
    border-radius:6px ;
    font-size: 14px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-left: 8px;
    width: max-content;
}
.that-task-outer-container {
    display: flex;
    align-items: center;
    width: 500px;
}
#task-start-time-container,#task-end-time-container {
    position: relative;
}
#task-start-time-info-container,#task-end-time-info-container{
    position: absolute;
    left: -200px;
    font-size: 14px;
    padding: 5px;
    padding-right: 40px;
    color: #ffffff;
    border-radius: 6px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #363636;
    bottom: 0;
    transition: 0.1s ease-out;
}